#
#    Licensed to the Apache Software Foundation (ASF) under one or more
#    contributor license agreements.  See the NOTICE file distributed with
#    this work for additional information regarding copyright ownership.
#    The ASF licenses this file to You under the Apache License, Version 2.0
#    (the "License"); you may not use this file except in compliance with
#    the License.  You may obtain a copy of the License at
#  
#       https://www.apache.org/licenses/LICENSE-2.0
#  
#    Unless required by applicable law or agreed to in writing, software
#    distributed under the License is distributed on an "AS IS" BASIS,
#    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#    See the License for the specific language governing permissions and
#    limitations under the License.
#

# Builds JDO and runs the TCK
#
# This workflow is run for every submitted pull request and every push on the main branch
name: Build JDO & Run TCK

on:
  push:
    branches:
      - 'main'
  pull_request:

jobs:
  format-check:
    name: Check Code Formatting
    continue-on-error: true
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 1
    - name: Check Format
      run: |
        mvn -B --no-transfer-progress -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn -Pverify-format clean compile
      shell: 'bash'

  build-jdo:
    name: Build JDO & Run TCK
    needs: format-check
    strategy:
      matrix:
        # run different builds with the listed java versions
        java: [ 8, 11, 17, 21 ]
        # run different builds with the listed java versions
        os: [ ubuntu-latest, windows-latest ]
      # continue to run other matrix builds if one of them fails
      fail-fast: false
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Setup java
        uses: actions/setup-java@v4
        with:
          # specifies the OpenJdk that should be used; 'zulu' is the default for GitHub actions
          distribution: 'zulu'
          java-version: ${{ matrix.java }}

      # Builds JDO & Runs the TCK
      - name: Build JDO & Run TCK
        run: |
          mvn -B --no-transfer-progress -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn clean install

      # Exports the TCK logs in case the build fails
      - name: Export TCK logs
        if: ${{ failure() }}
        uses: actions/upload-artifact@v4
        with:
          name: tck-logs-jdk-${{ matrix.java }}
          retention-days: 14
          path: tck/target/logs/**/*
